@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-style: normal;
}

header nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 98vw;
    max-height: 5vh;
    background-color: #1c79d6;
}

header nav .container .name {
    color: white;
    font-weight: bolder;
}

main .main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main {
    display: flex;
    gap: 200px;
    padding: 40px 0px;
}

main .main-container .donerno {
    width: 250px;
    height: 100px;
    background-color: #4b76a0e4;
    margin-top: 10px;
}

#donationChart {
    margin: auto auto;
    width: 70vw;
    height: 10%;

}

.text {
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 20px;


}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        gap: 50px;
    }

    #donationChart {
        margin: auto auto;
        width: 100vw;
        height: 30%;

    }

    main .main-container {
        gap: 100px;
        padding: 40px 0px;
    }

}